<footer class="footer-bs">
  <div class="container">

    <div class="col-md-4 footer-brand">
       <h3>Aussie Add-ons</h3>
       <p>Code licensed <a rel="license" href="https://www.gnu.org/licenses/gpl-3.0.en.html" target="_blank">GPLv3</a>, &copy; {{ site.time | date: '%Y' }} {{ site.author.name }}.</p>
    </div>

    <div class="col-md-4 footer-nav">
      <h4>Latest News</h4>
      <ul>
        {% for post in site.posts limit:5 %}  
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}  
      </ul>
    </div>

    <div class="col-md-2 footer-nav">
      <h4>Pages</h4>
      <ul>
        {% assign pages_list = site.pages | sort:"title" %}
        {% for page in pages_list %}
          {% if page.title != null %}
            {% if page.group == 'navigation' %}
              <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-2 footer-social">
      <h4>Follow Us</h4>
      <ul>
        <li><a href="https://github.com/aussieaddons" class="fa fa-github"> GitHub</a></li>
        <li><a href="https://twitter.com/aussieaddons" class="fa fa-twitter"> Twitter</a></li>
        <li><a href="http://slack-invite.aussieaddons.com" class="fa fa-slack"> Slack</a></li>
        <li><a href="{{ site.baseurl }}/rss.xml" class="fa fa-rss"> RSS</a></li>
        <li><a href="{{ site.baseurl }}/atom.xml" class="fa fa-rss"> Atom</a></li>
      </ul>
    </div>

  </div>
</footer>
