<head>
  <meta charset="utf-8">

  <title>Aussie Add-ons: {{ page.title }}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <meta name="author" content="{{ site.author.name }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,600' rel='stylesheet' type='text/css'>

  <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link href="{{ site.baseurl }}/atom.xml" type="application/atom+xml" rel="alternate" title="ATOM Feed">
  <link href="{{ site.baseurl }}/rss.xml" type="application/rss+xml" rel="alternate" title="RSS Feed">

  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/images/favicon.png">
</head>
